%h1 Listing admin_settings

%table.admin_settings
  %tr
    %th Name
    %th{colspan: 2} Value
    %th
    %th
    %th

  - @admin_settings.each do |admin_setting|
    %tr
      %td= admin_setting.name
      - if admin_setting.numeric?
        %td
          = simple_form_for(admin_setting)do |f|
            =f.input :value, label: false
        %td
          .numeric{"data-min" => admin_setting.min,
            "data-max" => admin_setting.max,
            "data-value" => admin_setting.value,
            "data-step" => admin_setting.step,
            "data-post-id" => admin_setting.id}
      - else
        %td{colspan: 2}
          = simple_form_for(admin_setting)do |f|
            =f.input :value, label: false
      %td= link_to 'Show', admin_setting
      %td= link_to 'Edit', edit_admin_setting_path(admin_setting)
      %td= link_to 'Destroy', admin_setting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Admin setting', new_admin_setting_path

%hr

= button_to 'send_hello_world_ping_admin_settings', send_hello_world_ping_admin_settings_path
= button_to 'reload_json_settings', reload_json_settings_admin_settings_path
= button_to 'send_admin_settings', send_admin_settings_admin_settings_path

:javascript
  $('form').ajaxForm();
  $('input[type=text]').keydown(function(event){
    $(event.target).closest("form").submit();
  });

  $(".numeric").each(function(){
    var $this = $(this);
    var options = $this.data();
    options["change"] = function(event, ui) {
      var $form = $("#edit_admin_setting_"+options.postId)
      $form.find("input[type=text]").val(ui.value);
      $form.submit();
    }
    options["slide"] = function( event, ui ) {
      var $form = $("#edit_admin_setting_"+options.postId)
      $form.find("input[type=text]").val(ui.value);
    }
    $this.slider($this.data());
  });
