%p#notice= notice

%p
  %b Message:
  = @message.message
%p
  %b Latitude:
  = @message.latitude
%p
  %b Longitude:
  = @message.longitude
%p
  %b Ip address:
  = @message.ip_address
%p
  %b location_on_wall:
  = @message.location_on_wall
= link_to 'Back', messages_path
